{% extends "layout.html" %}
{% block content %}

    <main><h1>SAMUEL ASQUITH</h1></main>

    <h2>Who am I?</h2>
    <p>
        My name is Samuel Asquith. I'm a self-motivated tech-centric individual who greatly enjoys new challenges, and am always
        open to new possibilities and opportunities.
    </p>
    <p>
        I'm available to relocate anywhere within the UK, and available to travel where I'm required.
    </p>


    <div class="clearfix">
        <div class="box" style="background-color: green">
        <p><b>About Me</b></p>
        </div>
        <div class="box" style="background-color: rgb(61, 129, 61)">
        <p>I'm a DevOps consultant/engineer with a passion for technology,
            with a speciality for machine learning and robotic automation.
            I completed a degree in Artificial Intelligence, graduating in 
            2020 with a first class honours.</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="box" style="background-color: rgb(61, 129, 61)">
        <p>I'm located wherever I need to be. I'm more than happy to relocate
            anywhere within the UK, and one day hopefully further. 
        </p>
        </div>
        <div class="box" style="background-color: green">
        <p><b>Where am I Located?</b></p>
        </div>
    </div>
    <div class="clearfix">
        <div class="box" style="background-color: green">
        <p><b>
            What do I like to do? 
        </b></p>
        </div>
        <div class="box" style="background-color: rgb(61, 129, 61)">
        <p>I'm a big fan of reading, playing video games and
            working on personal programming projects.
        </p>
        </div>
    </div>
    <div class="clearfix">
        <div class="box" style="background-color: rgb(61, 129, 61)">
        <p>
            I completed a first class honours degree in artificial 
            intelligence at De Montfort University, Leicester in 2020.
        </p>
        </div>
        <div class="box" style="background-color: green">
        <p><b>
            Where did I study?
        </b></p>
        </div>
    </div>

{% endblock %}
