{% extends "layout.html" %}
{% block content %}

    <main><h1>SAMUEL ASQUITH</h1></main>

    <h2>Who am I? I'm awesome</h2>
    <p>
        My name is Samuel Asquith. I'm a self-motivated tech-centric individual who greatly enjoys new challenges, and am always
        open to new possibilities and opportunities.
    </p>
    <p>
        I'm available to relocate anywhere within the UK, and available to travel where I'm required.
    </p>


    <div class="clearfix">
        <div class="box" style="background-color: white">
        <p><b>About Me</b></p>
        </div>
        <div class="box" style="background-color: rgb(192, 192, 192)">
        <p>I'm a DevOps consultant/engineer with a passion for technology,
            with a speciality for machine learning and robotic automation.
            I completed a degree in Artificial Intelligence, graduating in 
            2020 with a first class honours.</p>
        </div>
    </div>

{% endblock %}
