{% extends "layout.html" %}
{% block content %}
<project>
    <h1>Past Projects</h1>
</project>
<hr>
<project>
    <h2>Dissertation</h2>
    <h3>"Re-pathing of Autonomous Robots in cases of Collision Detection"</h3>
    <p>
        Autonomous robotics have been rising in popularity as advancements 
        have been made in various different industries, ranging from vehicles
        to household utilities. Research in this field has increased 
        greatly to make large advancements in ground, 
        water and air-based autonomy, focusing on increasing the 
        effectiveness, efficiency and safety of vehicles in these areas.
        One of the most publicised areas in this field are self-driving cars, made
        in an attempt to make car travel safer and more efficient. 
        This report details the creation and implementation of the bubble rebound algorithm to a Turtlebot3 Waffle. 
        The process, from research and design of the system to the implementation and testing stages, 
        is detailed in the order they were completed. 
    </p>
</project>
<hr>
<project>
    <h2>Fuzzy Logic Collision Detection</h2>
    <h3>"Applications of Fuzzy Logic in Relation to Autonomous Vehicles"</h3>
    <p>
        The research of autonomous vehicles is an ever-growing field, 
        with more attention being given to developments related to the 
        study. The purpose of this case study is to detail a potential 
        fuzzy logic method for detecting a possible obstacle and 
        manoeuvring until there is no possibility of collision with 
        the detected object. 
        <br>
        This case study utilises a series of sensors, 
        detecting various inputs in order to map a part of the
        environment and process where a potential obstacle is located, 
        the size of the potential obstacle, the speed of the vehicle 
        and if urgent action is necessary to avoid a collision with the 
        obstacle.  

    </p>
</project>
<hr>
<project>
    <h1>Current Projects</h1>
</project>
<hr>
<project>
    <h2>Remote Control Rover</h2>
    <p>
        For this project I am using the Robot Operating System (ROS) to 
        create small rover capable of being controlled remotely,
        with the aim of extending this project to the rover being autonomous
        and capable of navigating unfamiliar environments.
        <br>
        The languages being used in this projects are Python, to handle 
        the control of the hardware via GPIO pins, and C++ which will process
        the robotic kinematics equations and will process the navigation algorithms.
    </p>
</project>
<hr>
<project>
    <h2>Augmented Reality App</h2>
    <p>
        This project has the aim of creating an android app that will display
        locations and information on these locations, in real-time as the user
        points their mobile devices in the direction of the said locations.
    </p>
</project>

{% endblock %}