{% extends "layout.html" %}
{% block content %}


<h3>Why did I create this website?</h3>
<p>I made this website as a way to further practice my devops and 
    programming skills, and function as an online CV to provide more detail
    to my CV.
</p>
<h4>The technology used in the creation of this webpage includes:</h4>
<li><b>Git</b></li>
<li><b>Amazon Web Services</b></li>
<li><b>Python</b></li>
<li><b>Flask</b></li>
<li><b>Docker</b></li>
<li><b>Jenkins</b></li>
<li><b>Linux</b></li>
{% endblock %}