:root {
  /*--colour-1: rgb(63, 146, 216);*/
  --colour-1: rgb(80, 78, 78);
  /*--colour-2: rgb(168, 113, 19);*/
  --colour-2: red;
}

body {
  margin: 0;
  background-color: var(--colour-1);
  padding-bottom: 100px;
  height: 100%;
}

html {
  height: 100%;
}

header {
  width: 100%;
  margin-bottom: 100px;
  background-color: var(--colour-1);
  position: fixed;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--colour-2);
  display: flex;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header li a {
  display: block;
  color: white;
  padding: 9px 17px;
  text-decoration: none;
  font-size: 18px;
}

/* When the link is hovered on, its color will change */
header li a:hover {
  background-color: rgb(240, 101, 101);
  color: white;
}

.Name {
  text-decoration: overline;
  color: white;
  text-align: left;
  text-shadow: 2px 2px #000000;
  padding-left: 2%;
}

.Cymru {
  display: block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: black;
}

.name {
  font-family: "Times New Roman", Times, serif;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 8%;
  padding-bottom: 8%;
  color: white;
}

.content p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

.skills h4 {
  text-align: center;
  text-decoration: underline;
}

.skills ul {
  padding-left: 45%;
}

.skill_scroll {
  text-align: center;
}

.scroll_button {
  background-color: var(--colour-2);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  margin-top: 1%;
}

.scroll_button:hover {
  background-color: rgb(240, 101, 101);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
}

footer a {
  padding-right: 1%;
}

footer p {
  float: left;
  font-size: 12px;
}

.parallax {
  /* Full height */
  height: 70%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_data {
  height: auto;
  background-color: var(--colour-2);
  font-size: 36px;
  padding: 3%;
  text-align: center;
}

td {
  width: 50%;
  font-size: 32px;
  padding: 2%;
  text-align: center;
}

.row-title {
  background-color: rgb(238, 123, 123);
}

.row-content {
  background-color: rgb(238, 50, 50);
}
table {
  margin-top: 2%;
}

th {
  font-size: 24px;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.quote {
  border-style: solid;
  font-size: 24px;
  width: 22%;
  padding: 20px;
  border-radius: 20px;
}
