html {
    background: url(background.jpg) no-repeat center fixed;
    background-size: cover;
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    color: black;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li{
    float:left;
    
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: rgb(38,204,18);
    color: black;
}
/*
.boxed {
    outline-style: solid;
    background-color: white;
    opacity: 0.8;
    
}*/

/*Test start */

.icon a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: xx-large;
    text-decoration: overline;
    font-weight: bolder;
}

* {
    box-sizing: border-box;
  }

.box {
    float: left;
    width: 50%;
    padding: 30px;
    text-align: center;
    height:fit-content;
    margin-left: auto;
    margin-top: auto;
    font-size: large;
    border-radius: 25px;
    background-color: rgb(0,159,189);
    color: rgb(0,159,189);
    
  }


.box p b{
    color: #000;
}

.box:hover{
    background-color: rgb(38,204,18);
    color: #000;
}

.box p:hover{
    color: #000;
}


  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Test end */

.boxed h4 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.boxed p {
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

project {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github{
    background: green;
    color: white;
}

.alignment{
    display:grid;
}

.feed{
    background: white;
    width: 40%;
    float: right;
    border-color: #000;
    border-radius: 25px;
    border-width:medium;
    padding:5px;
}