details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}

#uniqueDetailsDiv {
  display: none;

  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}
details:hover #uniqueDetailsDiv {
  display: block;
}

details {
  text-align: center;
  font-size: 32px;
}

.odd {
  background-color: var(--colour-2);
}

.even {
  background-color: var(--colour-2-1);
}

.experiences {
  padding-top: 3%;
}

.experience-title {
  text-align: center;

  margin: 0;
  background-color: var(--colour-2-1);
}
