{% extends "layout.html" %}
{% block content %}

<h2>BSc (Hons) Artificial Intelligence</h2>
<h3>First Class</h3>
<h4>De Montfort University: 2017 - 2020</h4>

<p>I achieved a first class honours degree in artificial intelligence. I studied various aspects of computing, ranging from hardware to 
    software. I specialised in automation of software and robotics, with my dissertation being "Re-pathing of Autonomous Robots in cases of
    collision detection".
</p>

<h2>BTEC Level 3 Extended Diploma in IT</h2>
<h3>Distinction* Distinction* Distinction*</h3>
<h4>NPTC Group (Neath Campus): 2015 - 2017</h4>


{% endblock %}