{% extends "layout.html" %}
{% block content %}

    <div class="boxed">
        <h4>Cloud Computing Services:</h4>
        <p>AWS, Azure, GCP</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Pipelines:</h4>
        <p>Jenkins</p>
    </div>   
<hr>
    <div class="boxed">
        <h4>Containeristation and Orchestration:</h4>
        <p>Docker, Docker Swarm, Kubernetes</p>
    </div>
<hr>
    <div class="boxed">
        <h4>IaaS:</h4>
        <p>Terraform, Ansible</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Database technology:</h4>
        <p>MySQL, PostgreSQL</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Programming Languages:</h4>
        <p>Python, Java, C/C++, HTML/CSS, MATLAB</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Version Control:</h4>
        <p>Git</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Operating Systems:</h4>
        <p>GNU/Linux, Windows</p>
    </div>
<hr>
    <div class="boxed">
        <h4>Other:</h4>
        <p>ROS, Agile, Scrum, Flask</p>
    </div>

{% endblock %}